$social-tags: '';
$brand-small-icon-width: 162px;
$brand-small-icon-height: 100px;
$data61-icon: '../../images/data61/data61-logo.png';
$data61-hexagons: '../../images/data61/ArtworkGreen.png';
$data61-segue: '../../images/data61/data61-segue.jpg';
$data61-title: '../../images/data61/data61-title.jpg';

$gray-1: #e6e6e6;
$gray-2: #a9a9a9;
$gray-3: #797979;
$gray-4: #515151;

$brand-blue: rgb(67, 135, 253);
$brand-blue-secondary: #3c8ef3;
$brand-blue-secondary2: #2a7cdf;

$brand-red: rgb(244, 74, 63);
$brand-red-secondary: #e0543e;
$brand-red-secondary2: #d94d3a;

$brand-yellow: rgb(255, 209, 77);
$brand-yellow-secondary: #f9cc46;
$brand-yellow-secondary2: #f6c000;

$brand-green: rgb(13, 168, 97);
$brand-green-secondary: #00a86d;
$brand-green-secondary2: #009f5d;

$slide-width: 900px;
$slide-height: 700px;
$slide-width-widescreen: 1100px;
$slide-top-bottom-padding: 40px;
$slide-left-right-padding: 60px;
$slide-border-radius: 5px;

$slide-tap-area-width: 100px;

$article-content-top-padding: 45px;

$data61-green: #2fb787;
$data61-black: #000000;
$data61-white: #ffffff;

$data61-pink:		#df1995;
$data61-red:		#e4002b;
$data61-purple:		#6d2077;
$data61-yellow:		#ffb81c;
$data61-light-green:	#78be20;
$data61-dark-green:	#007a53;
$data61-light-blue:	#2dccd3;
$data61-blue:		#004b87;
$data61-dark-blue:	#00313c;
